* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} 

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	line-height: 1.5;
}

#navbar {
	background-color: #006d63;
	border: none;
	margin-bottom: 0;
}

#navbar a {
	color: white;
}

#navbar a:hover {
	color: lightgray;
}

#head {
	min-height: 300px;
	background-color: #006d63;
	text-align: center;
	color: white;
}

#head h1 {
	font-size: 60px;
	margin-top: 90px;
}

#head p {
	font-size: 25px;
	padding-bottom: 40px;
}

#posts {
	margin-top: 80px;
}

#posts h3 {
	font-size: 30px;
	color: #383838;
}

#posts a {
	text-decoration: none;
	color: black;
	transition: .5s;
}

#posts a:hover {
	color: #006d63;
}

#posts ul {
	padding: 0;
}

#posts li {
	list-style-type: none;
}

#post_wrapper {
	padding: 30px;
}

#post_wrapper button {
	font-family: 'Montserrat', sans-serif;
	background-color: #e4e4e4;
	border-color: #e4e4e4; 
	transition: .5s;
}

#post_wrapper button:hover {
	background-color: #006d63;
	border-color: #006d63;
	color: white; 
}

#post_divider {
	background-color: #e4e4e4;
    height: 4px;
    margin: 10px 0 10px 0;
}

#about_me {
	margin-top: 70px;
}

#about_me img {
	width: 70%;
}

#about_me i {
	font-size: 1.5pc;
	padding: 6px;
	color: #757575;
	transition: .5s;
}

#about_me i:hover {
	color: #006d63;
}

#pagination {
	margin-left: 30px;
}

#footer {
	text-align: center;
    background-color: #e4e4e4;
    height: 150px;
    padding-top: 30px;
    margin-top: 50px;
}

#footer i {
	font-size: 2.5pc;
	padding: 10px;
	color: #757575;
	transition: .5s;
}

#footer i:hover {
	color: #006d63;
}

/* POST PAGE */

#head_post {
	min-height: 300px;
	background-color: #006d63;
	text-align: left;
	color: white;
}

#post_title {
	padding: 80px 0 0 30px;
}

#post_title h1 {
	font-size: 40px;
}

#recent_posts {
	padding: 30px;
}

#recent_posts li {
	margin: 7px 0;
	color: #006d63;
}

#recent_posts a {
	color: darkgrey;
}

#recent_posts a:hover {
	color: #006d63;
}

/* ARCHIVE PAGE */

#archive_post h2 {
	padding-top: 20px;
}

#archive_post a {
	color: black;
}

#archive_post a:hover {
	color: #006d63;
}
