<div class="row" id="footer">
    <div class="col-xs-12">
        <div class="col-xs-12">
            <a href="https://github.com/LuisTer15" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/luister" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a href="https://twitter.com/LuisTernera" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/luis-ternera-hernandez-937299148/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            <a href="https://luister15.github.io/portfolio/" target="_blank"><i class="fa fa-briefcase" aria-hidden="true"></i></a>
        </div>
        <p>Copyright © 2017 Luis Ternera. All rights reserved.</p>
    </div>
</div>
