<!-- navbar -->
<div class="row">
   <nav class="navbar navbar-inverse" id="navbar">
       <div class="container">
           <div class="navbar-header">
                 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_collapse" aria-expanded="false">
                   <span class="sr-only">Toggle navigation</span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                 </button>
                 <a class="navbar-brand" href="/0-to-1000-Blog/">0 to 1000 Blog</a>
           </div>

           <div class="collapse navbar-collapse" id="navbar_collapse">
                 <ul class="nav navbar-nav navbar-right">
                   <li><a href="/0-to-1000-Blog/">Home</a></li>
                   <li><a href="/0-to-1000-Blog/#archives">Archives</a></li>
                   <li><a href="/0-to-1000-Blog/#about_me">About Me</a></li>
                 </ul>
           </div>
       </div>
   </nav>
</div><!--/ navbar -->